<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">CATEGORIA</h3>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row MT-1">
                        <div class="col-md-12 d-flex justify-content-end">
                            <div class="row m-0">
                                <button (click)="AbrirModal()" class="btn btn-success btn-reset">NUEVA CATEGORIA <i
                                        class="mdi mdi-checkbox-multiple-blank-outline"></i> </button>

                            </div>

                        </div>
                    </div>
                    <ul class="nav nav-pills m-t-30 m-b-30">
                        <li class=" nav-item"> <a href="#navpills-1" class="nav-link active" data-toggle="tab"
                                aria-expanded="false">Activos</a> </li>
                        <li class="nav-item"> <a href="#navpills-2" class="nav-link" data-toggle="tab"
                                aria-expanded="false">Deshabilitado</a> </li>
                    </ul>
                    <div class="tab-content br-n pn">
                        <div id="navpills-1" class="tab-pane active">
                            <div class="row">

                                <!-- ANGULAR SERVER SIDE -->
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="reload_producto"
                                        class="row-border hover " width="100%">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">ACCION</th>
                                                <th style="text-align: center;">CATEGORIA</th>
                                                <th style="text-align: center;">CATEGORIA PADRE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let e of listarProducto;">
                                                <tr style="vertical-align: middle;text-align: center;">
                                                    <td>
                                                        <div class="button-group">
                                                            <button (click)="TraerCategoria(e.id_categoria)"
                                                                type="button" style="width: 20px;height: 20px;"
                                                                class="btn btn-sm btn-info btn-circle"
                                                                tooltip="Editar Categoria" placement="top"
                                                                [showDelay]="100">
                                                                <i class="fa fa-pencil-square"></i> </button>
                                                            <button
                                                                (click)="Habilitar_Deshabilitar_Categoria(e.id_categoria,'desactivado')"
                                                                type="button" style="width: 20px;height: 20px;"
                                                                class="btn btn-sm btn-danger btn-circle"
                                                                tooltip="Deshabilitar Categoria" placement="top"
                                                                [showDelay]="100"><i class="fa fa-times-circle"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td>{{e.glosa_categoria}}</td>
                                                    <td>{{e.atributo_padre}}</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                        <tbody *ngIf="listarProducto.length == 0">
                                            <tr>
                                                <td colspan="3" class="no-data-available">No data!</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                        <div id="navpills-2" class="tab-pane">
                            <div class="row">
                                <!-- ANGULAR SERVER SIDE -->
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions[1]"
                                        [dtTrigger]="reload_producto_deshabilitado" class="row-border hover "
                                        width="100%">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">ACCION</th>
                                                <th style="text-align: center;">CATEGORIA</th>
                                                <th style="text-align: center;">CATEGORIA PADRE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let e of listarProductoDeshabilitado;">
                                                <tr style="vertical-align: middle;text-align: center;">
                                                    <td>
                                                        <div class="button-group">
                                                            <button (click)="TraerCategoria(e.id_categoria)"
                                                                type="button" style="width: 20px;height: 20px;"
                                                                class="btn btn-sm btn-info btn-circle"
                                                                tooltip="Editar Categoria" placement="top"
                                                                [showDelay]="100"><i class="fa fa-pencil-square"></i>
                                                            </button>
                                                            <button
                                                                (click)="Habilitar_Deshabilitar_Categoria(e.id_categoria,'activado')"
                                                                type="button" style="width: 20px;height: 20px;"
                                                                tooltip="Activar Categoria" placement="top"
                                                                [showDelay]="100"
                                                                class="btn btn-sm btn-success btn-circle">
                                                                <i class="fa fa-check"></i>
                                                            </button>

                                                        </div>
                                                    </td>
                                                    <td>{{e.glosa_categoria}}</td>
                                                    <td>{{e.atributo_padre}}</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                        <tbody *ngIf="listarProducto.length == 0">
                                            <tr>
                                                <td colspan="4" class="no-data-available">No hay información!</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center " [innerHTML]="titulo_texto"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" data-original-title=""
                    title=""><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="categoriaForm" autocomplete="nope" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <h6 for="name" class="col-sm-12 control-label">Nombre Categoría <span
                                        class="text-danger">(*)</span></h6>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="glosa_categoria"
                                        placeholder="Ingrese un nombre" formControlName="glosa_categoria"
                                        [class.is-invalid]="categoriaForm.controls['glosa_categoria']|isInvalid">
                                    <div class="text-danger">
                                        <div *ngIf="categoriaForm.controls['glosa_categoria']|hasError:'required'">
                                            Categoría Vacia
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group fg-inventario">
                                <h6 for="name" class="col-sm-12 control-label">Tipo Inventario <span
                                        class="text-danger">(*)</span></h6>
                                <div class="col-sm-12">
                                    <select (change)="listarCategorias($event.target)" class="form-control"
                                        formControlName="id_tipo_inventario"
                                        [class.is-invalid]="categoriaForm.controls['id_tipo_inventario']|isInvalid">
                                        <option value="">Seleccionar Inventario</option>
                                        <option *ngFor="let item of tipo_inventario"
                                            value="{{item.id_tipo_inventario}}">{{item.glosa_tipo_inventario}}</option>
                                    </select>
                                    <div class="text-danger">
                                        <div *ngIf="categoriaForm.controls['id_tipo_inventario']|hasError:'required'">
                                            No selecciono el inventario
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="t-crear-categoria">
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12" align="center">
                            <img *ngIf="!imgTemporal" src="../../../assets/assets/images/users/avatar-staff.jpg"
                                class="img-responsive elevation-2 w-25" alt="User Image">
                            <img *ngIf="imgTemporal" [src]="imgTemporal" class="img-responsive elevation-2 w-25"
                                alt="User Image">
                            <input (change)="seleccioneImagen($event.target)" type="file" name="imagen"
                                [accept]="'image/*'" class="form-control-file mt-3">

                        </div>
                    </div>
                    <div class="row d-none">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h6 for="name" class="col-sm-12 control-label">Descripción</h6>
                                <div style=" padding: 0px 15px 0px 15px; ">
                                    <textarea name="descripcion_categoria" class="form-control textarea_editor"
                                        rows="15" placeholder="Descripción de la categoría"
                                        formControlName="descripcion_categoria"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div style="display:flex; flex-wrap:nowrap;align-items: center;" class="col-md-6">
                        <div>
                            <label>Visible Online</label>
                        </div>
                        <div class="col-sm-2" style="padding-top: 10px;">
                            <div class="custom-control custom-switch mr-2 mb-1">
                                <input type="checkbox" class="custom-control-input" id="visibleOnline"
                                    formControlName="visibleOnline" [checked]="categoriaForm.controls['visibleOnline']">
                                <label class="custom-control-label" for="visibleOnline">
                                </label>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal" data-original-title=""
                    title="">Salir</button>
                <button (click)="GuardarActualizarCategoria()" class="btn btn-primary" type="submit"
                    data-original-title="" title="">GUARDAR CATEGORIA</button>
            </div>
        </div>

    </div>
</div>