td {
    text-align: center;
    vertical-align: middle;
}
#button_right{
    text-align: right;
}
#t-crear-categoria,#atributo-producto{
    width: 100%;
    height: calc(100vh - 550px);
    overflow: auto;
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1600px) {
    #t-crear-categoria ,#atributo-producto{
        height: calc(100vh - 350px);
        overflow: auto;
        display: flex;
        justify-content: start;
        margin-bottom: 15px;
    }
}