<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid" [@fade]>
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles mb-0">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor"><strong>NUEVO PRODUCTO</strong></h3>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="col-md-12" style="z-index:0;">
                        <div class="card">
                            <div class="card-body p-b-0">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs customtab2" role="tablist">
                                    <li class="nav-item disabled"> <a class="nav-link active" data-toggle="tab"
                                            href="#home7-nuevo" role="tab">
                                            <span class="hidden-sm-up"><i class="ti-home"></i></span> <span
                                                class="hidden-xs-down">INFORMACIÓN</span></a> </li>
                                    <li class="nav-item disabled"> <a class="nav-link" data-toggle="tab"
                                            href="#profile7-nuevo" role="tab"><span class="hidden-sm-up"><i
                                                    class="ti-user"></i></span> <span
                                                class="hidden-xs-down">PRECIO-STOCK</span></a> </li>
                                    <li class="nav-item disabled"> <a class="nav-link" data-toggle="tab"
                                            href="#messages7-nuevo" role="tab"><span class="hidden-sm-up"><i
                                                    class="ti-email"></i></span> <span
                                                class="hidden-xs-down">IMAGENES</span></a> </li>
                                    <li *ngIf="id_tipo_inventario==1" class="nav-item disabled"> <a class="nav-link"
                                            data-toggle="tab" href="#messages8-nuevo" role="tab"><span
                                                class="hidden-sm-up"><i class="ti-email"></i></span> <span
                                                class="hidden-xs-down">COLOR DE PRODUCTO</span></a> </li>
                                    <li class="nav-item disabled"> <a class="nav-link" data-toggle="tab"
                                            href="#messages9-nuevo" role="tab"><span class="hidden-sm-up"><i
                                                    class="ti-email"></i></span> <span
                                                class="hidden-xs-down">ESPECIFICACIONES</span></a> </li>
                                    <li class="nav-item disabled"> <a class="nav-link" data-toggle="tab"
                                            href="#messages10-nuevo" role="tab"><span class="hidden-sm-up"><i
                                                    class="ti-email"></i></span> <span class="hidden-xs-down">PRODUCTO
                                                RELACIONADOS</span></a> </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active mt-4" id="home7-nuevo" role="tabpanel">
                                        <form [formGroup]="informacionForm" autocomplete="nope"
                                            enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="firstName1">SKU<strong
                                                                class="text-danger">(*)</strong></label>
                                                        <input type="text" class="form-control" #codigo_producto
                                                            (keyup)="VerificarSku($event)"
                                                            formControlName="codigo_producto"
                                                            placeholder="Codigo del Producto"
                                                            [class.is-invalid]="informacionForm.controls['codigo_producto']|isInvalid">
                                                        <div class="text-danger">
                                                            <div
                                                                *ngIf="informacionForm.controls['codigo_producto']|hasError:'required'">
                                                                SKU Vacio
                                                            </div>
                                                            <div *ngIf="verificador_sku">
                                                                Existe SKU
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="codigo_barra_producto">Codigo Barra</label>
                                                        <input type="text" class="form-control"
                                                            formControlName="codigo_barra_producto"
                                                            placeholder="Codigo barra del producto">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="emailAddress1">Nombre <strong
                                                                class="text-danger">(*)</strong></label>
                                                        <input type="email" class="form-control"
                                                            formControlName="glosa_producto"
                                                            placeholder="Nombre del producto"
                                                            [class.is-invalid]="informacionForm.controls['glosa_producto']|isInvalid">
                                                        <div class="text-danger">
                                                            <div
                                                                *ngIf="informacionForm.controls['glosa_producto']|hasError:'required'">
                                                                Nombre producto Vacio
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="date1">Tipo Afectación<strong
                                                                class="text-danger">(*)</strong></label>
                                                        <select formControlName="id_tipo_afectacion"
                                                            [class.is-invalid]="informacionForm.controls['id_tipo_afectacion']|isInvalid"
                                                            class="form-control">
                                                            <option value="">Seleccionar Afectación</option>
                                                            <option value="{{item.id_tipo_afectacion}}"
                                                                *ngFor="let item of tipo_afectacion">
                                                                {{item.descripcion}}</option>
                                                        </select>
                                                        <div class="text-danger">
                                                            <div
                                                                *ngIf="informacionForm.controls['id_tipo_afectacion']|hasError:'required'">
                                                                Seleccionar Afectación.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="id_marca">Marca</label>
                                                        <ng-select [searchable]="true" [items]="marcas"
                                                            [multiple]="false" [loading]="isLoading"
                                                            (search)="buscarMarca($event.term)"
                                                            placeholder="Escriba para buscar una marca"
                                                            [typeToSearchText]="'Escriba para buscar...'"
                                                            bindLabel="glosa_marca" bindValue="id_marca"
                                                            (clear)="limpiarSeleccion('marca')"
                                                            formControlName="id_marca"
                                                            [notFoundText]="'No se encontraron marcas'">
                                                        </ng-select>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-12 col-md-6 d-flex justify-content-start align-items-center">
                                                    <button (click)="AbrirModal()"
                                                        class="btn btn-sm btn-success">Agregar Marca <i
                                                            class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="location1">Descripción Extendida</label>
                                                        <textarea formControlName="descripcion_extendida"
                                                            class="form-control descripcion_extendida" rows="5"
                                                            placeholder="Descripción de la categoría"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="phoneNumber1">Descripción Corta</label>
                                                        <textarea formControlName="descripcion_corta"
                                                            class="form-control descripcion_corta" rows="5"
                                                            placeholder="Descripción de la categoría"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="date1">Tipo Inventario<strong
                                                                class="text-danger">(*)</strong></label>
                                                        <select (change)="listarCategorias($event.target)"
                                                            formControlName="tipo_inventario"
                                                            [class.is-invalid]="informacionForm.controls['tipo_inventario']|isInvalid"
                                                            class="form-control">
                                                            <option value="">Seleccionar Inventario</option>
                                                            <option *ngFor="let item of tipo_inventario"
                                                                value="{{item.id_tipo_inventario}}">
                                                                {{item.glosa_tipo_inventario}}</option>
                                                        </select>
                                                        <div class="text-danger">
                                                            <div
                                                                *ngIf="informacionForm.controls['tipo_inventario']|hasError:'required'">
                                                                Seleccionar Inventario.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12" style="margin-top: 2.3rem;">
                                                    <div class="form-group">
                                                        <label class="inline custom-control custom-checkbox block">
                                                            <input type="checkbox" class="custom-control-input"
                                                                formControlName="visible_tienda">
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description ml-0">Visible en
                                                                Tienda</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12" *ngIf="id_tipo_inventario==3">
                                                    <div class="form-group">
                                                        <label for="date1">Formas Farmaceutica</label>
                                                        <ng-select [searchable]="true" [multiple]="false"
                                                            placeholder="Escriba para buscar"
                                                            [typeToSearchText]="'Escriba para buscar...'"
                                                            formControlName="id_unidad"
                                                            [notFoundText]="'No se encontraron'">
                                                            <ng-option value="">Seleccionar formar</ng-option>
                                                            <ng-option value="{{item.id_unidad}}"
                                                                *ngFor="let item of arregloFormaFarmaceutica">
                                                                {{item.glosa_unidad}}</ng-option>
                                                        </ng-select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12" *ngIf="id_tipo_inventario==3">
                                                    <div class="form-group">
                                                        <label for="date1">Tipo Concentración</label>
                                                        <ng-select [searchable]="true" [multiple]="false"
                                                            placeholder="Escriba para buscar"
                                                            [typeToSearchText]="'Escriba para buscar...'"
                                                            formControlName="id_tipo_concentracion"
                                                            [notFoundText]="'No se encontraron'">
                                                            <ng-option value="">Seleccionar concentración</ng-option>
                                                            <ng-option value="{{item.id_tipo_concentracion}}"
                                                                *ngFor="let item of arregloTipoConcentracion">
                                                                {{item.glosa_tipo_concentracion}}</ng-option>
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 ">
                                                    <div class="form-group">
                                                        <label for="date1">Categoria</label>
                                                        <div id="t-crear-categoria-producto">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="id_tipo_inventario==1">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="date1">Atributo</label>
                                                        <div id="atributo-producto">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                    <div class="tab-pane  p-20" id="profile7-nuevo" role="tabpanel">
                                        <form [formGroup]="PrecioStockForm" autocomplete="nope">
                                            <div class="row mt-4">
                                                <div class="col-md-6 col-12 p-0">
                                                    <div class="form-group">
                                                        <label for="jobTitle1">Precio Venta <strong
                                                                class="text-danger">(*)</strong></label>
                                                        <input type="number" class="form-control" id="jobTitle1"
                                                            formControlName="precio_venta" placeholder="Precio Venta"
                                                            [class.is-invalid]="PrecioStockForm.controls['precio_venta']|isInvalid">
                                                        <div class="text-danger">
                                                            <div
                                                                *ngIf="PrecioStockForm.controls['precio_venta']|hasError:'required'">
                                                                Precio Venta Vacio.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="row table-responsive">
                                            <table class="table table-striped color-table info-table">
                                                <thead>
                                                    <tr>
                                                        <th>BODEGA(S)</th>
                                                        <th class="text-center">STOCK</th>
                                                        <th class="text-center">PRECIO COMPRA</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let element of arregloBodegas">
                                                        <td class="text-left">
                                                            <h5> <strong>{{element.glosa_bodega}}</strong> </h5>
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="number"
                                                                [(ngModel)]="element.total_stock_producto_bodega">
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="number"
                                                                [(ngModel)]="element.ultimopreciocompra_stock_producto_bodega">
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row" style="justify-content: center;"
                                            *ngIf="checked_atributo.length>0">
                                            <div class="col-8">
                                                <table class="table color-bordered-table muted-bordered-table">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2" class="text-center">
                                                                <h3 class="text-white">Stock Del Atributo</h3>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-center">Atributo Seleccionado</th>
                                                            <th class="text-center">Stock</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of checked_atributo">
                                                            <td>{{item.glosa_atributo}}</td>
                                                            <td><input type="number" [value]="0"
                                                                    class="form-control text-center"
                                                                    (keyup)="GuardarCantidadAtributo($event.target,item.id_atributo)">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="tab-pane p-20" id="messages7-nuevo" role="tabpanel">
                                        <div class="row mt-4">
                                            <div
                                                class="col-md-6  d-flex justify-content-end align-items-center text-right">
                                                <label class="h6 m-0" for="">Añadir una nueva imagen para este
                                                    producto</label>
                                            </div>
                                            <div class="col-md-6 d-flex justify-content-start align-items-center">
                                                <div class="col-md-6 pl-0">
                                                    <button (click)="levantarmodalimagenes()" class="btn btn-primary"
                                                        id="btn-aniadir-imagen"><i class="mdi mdi-folder-open"></i>
                                                        Añadir archivos</button>
                                                </div>
                                            </div>
                                            <div class="w-100 mt-1">
                                                <div class="card">
                                                    <div class="card-body agregar_imagen">



                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="tab-pane p-20" id="messages8-nuevo" role="tabpanel">
                                        <div class="row mt-4">
                                            <div class="col-12 text-right">
                                                <button (click)="AgregarColor()" type="button"
                                                    class="btn btn-secondary">Agregar Color</button>
                                            </div>
                                            <div class="row col-12">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="">Seleccionar Color</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="">Nombre del Color</label>
                                                </div>
                                                <div class="col-md-2 text-center">
                                                    <label for="">Eliminar</label>
                                                </div>
                                            </div>
                                            <form id="color_ropas" name="color_ropas" class="col-12 color_agregar">

                                            </form>

                                        </div>

                                    </div>
                                    <div class="tab-pane p-20" id="messages9-nuevo" role="tabpanel">
                                        <div class="row mt-4">
                                            <div
                                                class="col-md-6  d-flex justify-content-end align-items-center text-right">
                                                <label class="h6 m-0" for="">Añadir una especificación para este
                                                    producto</label>
                                            </div>
                                            <div class="col-md-6 d-flex justify-content-start align-items-center">
                                                <div class="col-md-6 pl-0">
                                                    <button (click)="AgregarInputtabla()" class="btn btn-primary"
                                                        id="btn-aniadir-imagen"><i class="mdi mdi-folder-open"></i>
                                                        Añadir linea</button>
                                                </div>
                                            </div>
                                            <div class="w-100 mt-1">
                                                <div class="card">
                                                    <div class="card-body ">
                                                        <div class="table-responsive">
                                                            <table class="tablesaw table-bordered table-hover table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Nombre</th>
                                                                        <th>Descripción</th>
                                                                        <th>Acción</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr
                                                                        *ngFor="let element of arregloEspecificacion; let i = index">
                                                                        <td>
                                                                            <input class="form-control" type="text"
                                                                                [(ngModel)]="element.glosa_especificaciones_producto">
                                                                        </td>
                                                                        <td>
                                                                            <input class="form-control" type="text"
                                                                                [(ngModel)]="element.respuesta_especificaciones_producto">
                                                                        </td>
                                                                        <td>
                                                                            <button type="button"
                                                                                (click)="eliminarFila(i)"
                                                                                class="btn btn-danger"
                                                                                tooltip="Eliminar" placement="top"
                                                                                [showDelay]="50" [hideDelay]="50"><i
                                                                                    class="fa fa-times-rectangle"></i></button>
                                                                        </td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="tab-pane p-20" id="messages10-nuevo" role="tabpanel">
                                        <div class="row mt-4">
                                            <div class="col-md-3 col-12">
                                                <label class="h6 m-0" for="">Nombre del Producto</label>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <ng-select (change)="BuscarProductoRelaciondo($event)"
                                                    [searchable]="true" [items]="listaProductosRelacionado"
                                                    [multiple]="false" [loading]="isLoading"
                                                    (search)="SearchProductoRelacionado($event.term)"
                                                    placeholder="Escriba para buscar un producto"
                                                    [typeToSearchText]="'Escriba para buscar...'"
                                                    bindLabel="glosa_producto" bindValue="id_producto"
                                                    (clear)="limpiarSeleccion('producto-relacionado')" #productoSelect
                                                    [notFoundText]="'No se encontraron productos'">
                                                </ng-select>
                                            </div>
                                            <div class="w-100 mt-1">
                                                <div class="card">
                                                    <div class="card-body table-responsive">
                                                        <table class="tablesaw table-bordered table-hover table">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center">NOMBRE</th>
                                                                    <th class="text-center">IMÁGEN</th>
                                                                    <th class="text-center">ACCIÓN</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody">
                                                                <tr *ngFor="let e of listarProductoRelacionados;">
                                                                    <td>
                                                                        <div class="card">
                                                                            <div class="card-body">
                                                                                <span
                                                                                    class="mytooltip tooltip-effect-1">
                                                                                    <img src="{{e.path_producto_imagen}}"
                                                                                        class="tooltip-item" alt="user"
                                                                                        width="100" />
                                                                                    <span
                                                                                        class="tooltip-content clearfix text-center">
                                                                                        <img src="{{e.path_producto_imagen}}"
                                                                                            alt="euclid" /><span
                                                                                            class="tooltip-text"></span>
                                                                                    </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>{{e.glosa_producto}} ({{e.codigo_producto}})
                                                                    </td>
                                                                    <td><button type="button"
                                                                            (click)="RecuperarProductoRelacionado(e)"
                                                                            class="btn btn-danger eliminar_imagen"
                                                                            id_imagen="0" data-toggle="tooltip"
                                                                            data-original-title="Eliminar"><i
                                                                                class="fa fa-times-rectangle"></i></button>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-12 text-right">
                                    <ng-container *ngIf="!GuardarInformacion; else elseTemplate">
                                        <button type="button" style="padding-left: 9px;" routerLink="/Producto"
                                            class="btn btn-outline-secondary mx-3" id="btn-close-crud"><i
                                                style="vertical-align: text-bottom;" class="bx bx-left-arrow-alt"></i>
                                            Volver</button>
                                        <button (click)="GuardarProductoCompleto()" type="button"
                                            class="btn btn-success" value="create-product"><i
                                                style="vertical-align: text-bottom;" class="bx bx-save"></i>
                                            Guardar
                                        </button>
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        <button type="button" class="btn btn-success" value="create-product"><em
                                                class="fa fa-spin fa-circle-o-notch"></em>
                                            Guardando...
                                        </button>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" data-backdrop="static" id="modal-imagenes" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="perfilCrudModalEditar">Nueva Imagen</h4>
                                </div>
                                <div class="modal-body body-create">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row mb-3">
                                                <input type="text" class="form-control" name="nombre_imagen"
                                                    id="nombre_imagen" placeholder="Ingrese el nombre">
                                            </div>
                                            <div class="row">
                                                <input type="file" id="input-file-now" class="dropify"
                                                    accept="image/png,image/jpeg" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" style="padding-left: 9px;" data-dismiss="modal"
                                        class="btn btn-outline-danger" id="btn-close"><i
                                            style="vertical-align: text-bottom;" class="bx bx-x-circle"></i> Cancelar
                                    </button>
                                    <button (click)="GuardarImagenes()" type="button" class="btn btn-success"
                                        id="btn-guardar-imagen" value="Editar"><i style="vertical-align: text-bottom;"
                                            class="bx bx-save"></i> Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Dashboard Ecommerce Starts -->
<app-modal-marca #hijomodalmarca [texto_cabezera]="texto_cabezera"
    (respuesta)="manejarRespuesta($event)"></app-modal-marca>