<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><app-avatar-genero
                            [sexo]="identificacion?.sexo" [size]="38"></app-avatar-genero><span
                            class="hide-menu">{{identificacion.nombre}} </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/Datos-Personales/{{identificacion.sub}}">Mi Perfil </a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>

                <!-- INVENTARIOS -->
                <li *ngIf="permiso.puedeVerAlguno(['SUCURSAL','BODEGAS','MARCAS','CATEGORIAS','PRODUCTOS','ATRIBUTOS'])">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="fa fa-folder"></i><span class="hide-menu">INVENTARIOS</span></a>
                    <ul aria-expanded="false" class="collapse" #EventoClick>
                        <li *ngIf="permiso.puedeVer('SUCURSAL')"><a class="desactivar" routerLinkActive="active" (click)="Seleccionar($event.target)" routerLink="/Sucursal" href="javascript:void()"><i class="mdi mdi-home-modern"></i> SUCURSAL</a></li>
                        <li *ngIf="permiso.puedeVer('BODEGAS')"><a class="desactivar" routerLinkActive="active" (click)="Seleccionar($event.target)" routerLink="/Bodega" href="javascript:void()"> <i class="mdi mdi-home"></i> BODEGAS</a></li>
                        <li *ngIf="permiso.puedeVer('MARCAS')"><a class="desactivar" routerLinkActive="active" (click)="Seleccionar($event.target)" routerLink="/Marca" href="javascript:void()"> <i class="fa fa-tags"></i> MARCAS</a></li>
                        <li *ngIf="permiso.puedeVer('CATEGORIAS')"><a class="desactivar" routerLinkActive="active" (click)="Seleccionar($event.target)" routerLink="/Categoria" href="javascript:void()"> <i class="mdi mdi-library-books"></i> CATEGORIAS</a></li>
                        <li *ngIf="permiso.puedeVer('PRODUCTOS')"><a class="desactivar" routerLinkActive="active" (click)="Seleccionar($event.target)" routerLink="/Producto" href="javascript:void()"> <i class="fa fa-product-hunt"></i> PRODUCTOS</a></li>
                        <li *ngIf="permiso.puedeVer('ATRIBUTOS')"><a class="desactivar" routerLinkActive="active" (click)="Seleccionar($event.target)" routerLink="/Atributo" href="javascript:void()"> <i class="mdi mdi-book"></i> ATRIBUTOS</a></li>
                    </ul>
                </li>

                <!-- PAGOS -->
                <li *ngIf="permiso.puedeVerAlguno(['PAGO NOTA VENTA','VENTAS','CAJA','ANULAR DOCUMENTOS'])">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-cash"></i><span class="hide-menu">PAGOS</span></a>
                    <ul aria-expanded="false" class="collapse" #EventoClick>
                        <li *ngIf="permiso.puedeVer('PAGO NOTA VENTA')"><a (click)="Seleccionar($event.target)" class="desactivar" routerLinkActive="active" routerLink="/Nota-Venta" href="javascript:void()"> <i class="mdi mdi-square-inc-cash"></i> PAGO NOTA VENTA</a></li>
                        <li *ngIf="permiso.puedeVer('VENTAS')"><a (click)="Seleccionar($event.target)" class="desactivar" routerLinkActive="active" routerLink="/Ventas" href="javascript:void()"> <i class="mdi mdi-note-multiple"></i> VENTAS</a></li>
                        <li *ngIf="permiso.puedeVer('CAJA')"><a (click)="Seleccionar($event.target)" class="desactivar" routerLinkActive="active" routerLink="/Caja" href="javascript:void()"><i class="mdi mdi-clipboard-flow"></i> CAJA</a></li>
                        <li *ngIf="permiso.puedeVer('ANULAR DOCUMENTOS')"><a (click)="Seleccionar($event.target)" class="desactivar" routerLinkActive="active" routerLink="/Baja-Comprobantes" href="javascript:void()"><i class="mdi mdi-clipboard-flow"></i> ANULAR DOCUMENTOS</a></li>
                    </ul>
                </li>

                <!-- REPORTE -->
                <li *ngIf="permiso.puedeVerAlguno(['REPORTE PRODUCTOS','REPORTE VENTA PRODUCTO','LIBRO VENTAS','KARDEX'])">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-bullseye"></i><span class="hide-menu">REPORTE</span></a>
                    <ul aria-expanded="false" class="collapse" #EventoClick>
                        <li *ngIf="permiso.puedeVer('REPORTE PRODUCTOS')"><a (click)="Seleccionar($event.target)" class="desactivar" routerLinkActive="active" routerLink="/Importar-Inventario" href="javascript:void()"> <i class="mdi mdi-cube-send"></i> REPORTE PRODUCTOS</a></li>
                        <li *ngIf="permiso.puedeVer('REPORTE VENTA PRODUCTO')"><a (click)="Seleccionar($event.target)" class="desactivar" routerLinkActive="active" routerLink="/Venta-Producto" href="javascript:void()"> <i class="mdi mdi-cube-send"></i> REPORTE VENTA PRODUCTO</a></li>
                        <li *ngIf="permiso.puedeVer('LIBRO VENTAS')"><a (click)="Seleccionar($event.target)" class="desactivar" routerLinkActive="active" routerLink="/Libro-Ventas" href="javascript:void()"> <i class="mdi mdi-cube-send"></i> LIBRO VENTAS</a></li>
                        <li *ngIf="permiso.puedeVer('KARDEX')"><a (click)="Seleccionar($event.target)" class="desactivar" routerLinkActive="active" routerLink="/Kardex" href="javascript:void()"> <i class="mdi mdi-clipboard-text"></i> KARDEX</a></li>
                    </ul>
                </li>

                <!-- TIENDA EN LINEA -->
                <li *ngIf="permiso.puedeVerAlguno(['PEDIDOS','SLIDER','CHAT CLIENTE','PROMOCIONES'])">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">TIENDA EN LINEA</span></a>
                    <ul aria-expanded="false" class="collapse" #EventoClick>
                        <li *ngIf="permiso.puedeVer('PEDIDOS')"><a (click)="Seleccionar($event.target)" class="desactivar" routerLinkActive="active" routerLink="/Pedidos"> <i class="mdi mdi-book"></i> PEDIDOS</a></li>
                        <li *ngIf="permiso.puedeVer('SLIDER')"><a (click)="Seleccionar($event.target)" class="desactivar" routerLinkActive="active" routerLink="/Slider" href="javascript:void()"> <i class="mdi mdi-web"></i> SLIDER</a></li>
                        <li *ngIf="permiso.puedeVer('CHAT CLIENTE')"><a (click)="Seleccionar($event.target)" class="desactivar" routerLinkActive="active" routerLink="/chatBox" href="javascript:void()"> <i class="mdi mdi-wechat"></i> CHAT CLIENTE</a></li>
                        <li *ngIf="permiso.puedeVer('PROMOCIONES')"><a (click)="Seleccionar($event.target)" class="desactivar" routerLinkActive="active" routerLink="/Promociones" href="javascript:void()"> <i class="mdi mdi-wechat"></i> PROMOCIONES</a></li>
                    </ul>
                </li>

                <!-- D. GENERALES (solo ADMINISTRADOR) -->
                <li *ngIf="identificacion.id_perfil==1"><a class="has-arrow waves-effect waves-dark" href="#"
                        aria-expanded="false"><i class="fa fa-building"></i><span class="hide-menu">D. GENERALES</span></a>
                    <ul aria-expanded="false" class="collapse" #EventoClick>
                        <li>
                            <a (click)="Seleccionar($event.target)" class="desactivar" routerLinkActive="active" routerLink="/Empresa"
                                href="javascript:void()"> <i class="mdi mdi-television-guide"></i> EMPRESA </a>
                        </li>
                        <li>
                            <a (click)="Seleccionar($event.target)" class="desactivar" routerLinkActive="active" routerLink="/Usuario"
                                href="javascript:void()"> <i class="fa fa-user-plus" aria-hidden="true"></i> USUARIO
                            </a>
                        </li>
                        <li>
                            <a (click)="Seleccionar($event.target)" class="desactivar" routerLinkActive="active" routerLink="/Permisos"
                                href="javascript:void()"> <i class="fa fa-lock" aria-hidden="true"></i> PERMISOS
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
