<div class="container-fluid">
    <div class="row page-titles mb-0">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor"> <strong>ATRIBUTO</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row MT-1">
                        <div class="col-md-12 d-flex justify-content-end">
                            <div class="row m-0">
                                <button (click)="AbrirModal()" class="btn btn-success btn-reset"> <strong> NUEVO ATRIBUTO </strong><i
                                        class="mdi mdi-checkbox-multiple-blank-outline"></i> </button>

                            </div>

                        </div>
                    </div>
                    <ul class="nav nav-pills m-t-30 m-b-30">
                        <li class=" nav-item"> <a href="#navpills-1" class="nav-link active" data-toggle="tab"
                                aria-expanded="false">Activos</a> </li>
                        <li class="nav-item"> <a href="#navpills-2" class="nav-link" data-toggle="tab"
                                aria-expanded="false">Deshabilitado</a> </li>
                    </ul>
                    <div class="tab-content br-n pn">
                        <div id="navpills-1" class="tab-pane active">
                            <div class="row">

                                <!-- ANGULAR SERVER SIDE -->
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="reload_producto"
                                        class="table table-striped color-table info-table" width="100%">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">ACCION</th>
                                                <th style="text-align: center;">ATRIBUTO</th>
                                                <th style="text-align: center;">ATRIBUTO PADRE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let e of listarProducto;">
                                                <tr style="vertical-align: middle;text-align: center;">
                                                    <td>
                                                        <div class="button-group">
                                                            <button (click)="TraerCategoria(e.id_atributo)"
                                                                type="button" style="width: 20px;height: 20px;"
                                                                class="btn btn-sm btn-info btn-circle"
                                                                tooltip="Editar Categoria" placement="top"
                                                                [showDelay]="100"
                                                                ><i
                                                                    class="fa fa-pencil-square"></i> </button>
                                                            <button
                                                                (click)="Habilitar_Deshabilitar_Categoria(e.id_atributo,'desactivado')"
                                                                type="button" style="width: 20px;height: 20px;"
                                                                class="btn btn-sm btn-danger btn-circle"
                                                                tooltip="Deshabilitar Categoria" placement="top"
                                                                [showDelay]="100"
                                                                ><i
                                                                    class="fa fa-times-circle"></i> </button>
                                                        </div>
                                                    </td>
                                                    <td>{{e.glosa_atributo}}</td>
                                                    <td>{{e.atributo_padre}}</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                        <tbody *ngIf="listarProducto.length == 0">
                                            <tr>
                                                <td colspan="3" class="no-data-available">No data!</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                        <div id="navpills-2" class="tab-pane">
                            <div class="row">
                                <!-- ANGULAR SERVER SIDE -->
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions[1]"
                                        [dtTrigger]="reload_producto_deshabilitado" class="table table-striped color-table info-table"
                                        width="100%">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">ACCION</th>
                                                <th style="text-align: center;">ATRIBUTO</th>
                                                <th style="text-align: center;">ATRIBUTO PADRE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let e of listarProductoDeshabilitado;">
                                                <tr style="vertical-align: middle;text-align: center;">
                                                    <td>
                                                        <div class="button-group">
                                                            <button (click)="TraerCategoria(e.id_atributo)"
                                                                type="button" style="width: 20px;height: 20px;"
                                                                tooltip="Editar Categoria" placement="top"
                                                                [showDelay]="100"
                                                                class="btn btn-sm btn-info btn-circle"><i
                                                                    class="fa fa-pencil-square"></i> </button>
                                                            <button
                                                                (click)="Habilitar_Deshabilitar_Categoria(e.id_atributo,'activado')"
                                                                type="button" style="width: 20px;height: 20px;"
                                                                tooltip="Activar Categoria" placement="top"
                                                                [showDelay]="100"
                                                                class="btn btn-sm btn-success btn-circle"><i
                                                                    class="fa fa-check"></i> </button>

                                                        </div>
                                                    </td>
                                                    <td>{{e.glosa_atributo}}</td>
                                                    <td>{{e.atributo_padre}}</td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                        <tbody *ngIf="listarProducto.length == 0">
                                            <tr>
                                                <td colspan="4" class="no-data-available">No hay información!</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5  class="modal-title text-center" [innerHTML]="texto_cabezera"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" data-original-title=""
                    title=""><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="categoriaForm" autocomplete="nope" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <h6 for="name" class="col-sm-12 control-label">Nombre Atributo <span
                                        class="text-danger">(*)</span></h6>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="glosa_atributo"
                                        placeholder="Ingrese un nombre" formControlName="glosa_atributo"
                                        [class.is-invalid]="categoriaForm.controls['glosa_atributo']|isInvalid">
                                    <div class="text-danger">
                                        <div *ngIf="categoriaForm.controls['glosa_atributo']|hasError:'required'">
                                            Atributo Vacia
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="t-crear-categoria">
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h6 for="name" class="col-sm-12 control-label">Descripción</h6>
                                <div style=" padding: 0px 15px 0px 15px; ">
                                    <textarea name="descripcion_atributo" class="form-control textarea_editor"
                                        rows="10" placeholder="Descripción de la categoría"
                                        formControlName="descripcion_atributo"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>


                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal" data-original-title=""
                    title="">Salir</button>
                <button (click)="GuardarActualizarCategoria()" #GuardarAtibuto class="btn btn-primary" type="button" >
                    GUARDAR ATRIBUTO</button>
            </div>
        </div>

    </div>
</div>