<div class="row">
    <!-- Earning Swiper Starts -->
    <div class="col-xl-12 col-md-12 col-12">
        <div class="card" style="background-color: #f8f9fa;">
            <div class="card-content">
                <div class="card-body vertical-line p-0">
                    <div class="row m-0">
                        <div class="col-md-8 p-0 col-12">
                            <div class="row m-0">
                                <div class="col-md-12 p-0">
                                    <div class="card m-0">
                                        <div class="card-content" style="background-color: #f8f9fa;">
                                            <div class="card-body p-1">
                                                <div class="col-md-12 p-0 table table-striped color-table info-table" id="tabla-detalle-negocio"  style="background-color: white; overflow:auto; border-radius: 10px;width: 100%;
                                                    height: calc(100vh - 268px);overflow:auto">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center" >CANTIDAD</th>
                                                                    <th class="text-center" >PRODUCTO</th>
                                                                    <th class="text-center" >IMP.</th>
                                                                    <th class="text-center" >PRECIO</th>
                                                                    <th class="text-center" >ACCIÓN</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody *ngIf="ProductoSeleccionados.length>0">
                                                                <tr
                                                                    *ngFor="let item of ProductoSeleccionados;let i=index">
                                                                    <td>
                                                                        <div
                                                                            class="stepper stepper--style-1 js-spinner">
                                                                            <input type="number" min="0" max="100"
                                                                                step="1"
                                                                                (blur)="CantidadEscrito($event,i)"
                                                                                [value]="item.cantidad_seleccionado"
                                                                                class="stepper__input total_detalle_general_anterior">
                                                                            <div class="stepper__controls">
                                                                                <button type="button"
                                                                                    style="cursor: pointer;"
                                                                                    (click)="AumentarNumeroGeneral($event,i)"
                                                                                    spinner-button="up">+</button>
                                                                                <button type="button"
                                                                                    style="cursor: pointer;"
                                                                                    (click)="DisminuirNumeroGeneral($event,i)"
                                                                                    spinner-button="down">−</button>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="d-flex justify-content-between align-items-center">
                                                                            <div class="row p-0 m-0">
                                                                                <div class="col-12 p-0 m-0 text-left">
                                                                                    <h6 class="p-0 m-0">
                                                                                        {{item.glosa_producto}}</h6>
                                                                                </div>
                                                                                <div class="col-12 p-0 m-0 text-left">
                                                                                    <small>
                                                                                        <strong>Codigo:
                                                                                        </strong>{{item.codigo_producto}}
                                                                                    </small>
                                                                                </div>
                                                                                <div class=" col-12 p-0 m-0">
                                                                                    <ng-container
                                                                                        *ngIf="item.total_stock_producto_bodega; else no_hay_stock">
                                                                                        <div class="existe_stock">
                                                                                            Con Stock
                                                                                        </div>
                                                                                    </ng-container>
                                                                                    <ng-template #no_hay_stock>
                                                                                        <div class="vacio_stock">
                                                                                            Sin Stock
                                                                                        </div>
                                                                                    </ng-template>
                                                                                </div>
                                                                            </div><i
                                                                                class="bx bx-comment cursor-pointer mensaje_modal ml-1"
                                                                                style="font-size: 2rem;"></i>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div>
                                                                            <select disabled class="form-control d1200">
                                                                                <option selected="" value="{{item.id_tipo_afectacion}}">{{item.descripcion}}</option>
                                                                            </select>
                                                                        </div>
                                                                    </td>
                                                                    <td>{{item.precio_venta_producto | currency: 'S/':
                                                                        'symbol': '': 'en-PE'}}</td>
                                                                    <td><a (click)="eliminarFila(i)"
                                                                            tooltip="Eliminar Producto" placement="top"
                                                                            [showDelay]="50" [hideDelay]="50"
                                                                            class="cursor-pointer"
                                                                            style="background-color: red;padding:0.4rem;border-radius: 2rem;cursor: pointer;color: white;">
                                                                            <i style="font-size: 20px;"
                                                                                class="fa fa-times"
                                                                                aria-hidden="true"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 px-0 mt-1">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <form [formGroup]="informacionForm" autocomplete="nope">
                                                                <div class="mb-1 row">
                                                                    <div class="col-8">
                                                                        <ng-select
                                                                            [searchable]="true" [items]="listaCliente"
                                                                            [multiple]="false" [loading]="isLoading"
                                                                            (search)="SearchCliente($event.term)"
                                                                            placeholder="Escriba para buscar un cliente"
                                                                            [typeToSearchText]="'Escriba para buscar...'"
                                                                            bindLabel="glosa_cliente" bindValue="id_cliente"
                                                                            (clear)="limpiarSeleccion()" 
                                                                            [notFoundText]="'No se encontraron clientes'"
                                                                            formControlName="cliente">
                                                                        </ng-select>
                                                                    </div>
                                                                    <div class="d-flex col-4 p-0">
                                                                        <button (click)="AsignarCliente()" type="button"
                                                                            tooltip="Asignar Cliente" placement="top"
                                                                            class="btn btn-sm btn-success btn-circle"><i
                                                                                class="fa fa-address-book-o"></i>
                                                                        </button>
                                                                        <button (click)="ClienteNuevo()" type="button"
                                                                            tooltip="Agregar Cliente" placement="top"
                                                                            class="btn btn-sm btn-info btn-circle mx-2"><i
                                                                                class="fa fa-address-book-o"></i>
                                                                        </button>
                                                                        <button (click)="ClienteActualizar()"
                                                                            type="button" tooltip="Editar Cliente"
                                                                            placement="top"
                                                                            class="btn btn-sm btn-warning btn-circle ">
                                                                            <i class="fa fa-pencil-square-o"
                                                                                aria-hidden="true"></i>
                                                                        </button>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group row">
                                                                    <div class="col-md-6 p-0" *ngIf="identificacion">
                                                                        <label for="vendedor_seleccionado"
                                                                            class="col-12">Vendedor</label>
                                                                        <div class="col-sm-12">
                                                                            <select class="form-control"
                                                                                formControlName="vendedor">
                                                                                <option value="{{identificacion.sub}}">
                                                                                    {{identificacion.nombre}}
                                                                                    {{identificacion.apellido_paterno}}
                                                                                    {{identificacion.apellido_materno}}
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6  p-0 ">
                                                                        <label for="tipo_documento"
                                                                            class="col-sm-12 control-label">Tipo De Documento</label>
                                                                        <div class="col-sm-12">
                                                                            <select
                                                                                (change)="VerficarDocumentoCliente($event.target)"
                                                                                class="form-control"
                                                                                formControlName="tipo_documento">
                                                                                <option value="NOTA VENTA">Nota Venta
                                                                                </option>
                                                                                <option value="BOLETA">Boleta
                                                                                    Electrónica</option>
                                                                                <option value="FACTURA">Factura
                                                                                    Electrónica</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="row mb-1">
                                                                <div class="col-md-12">
                                                                    <table class="tabla_totales" width="100%">
                                                                        <tr>
                                                                            <td class="text-left" colspan="3">
                                                                                <strong>SUBTOTAL:</strong>
                                                                            </td>
                                                                            <td><strong
                                                                                    class="Afecto_total">{{Totales.subtotal
                                                                                    | currency: 'S/': 'symbol': '':
                                                                                    'en-PE'}}</strong>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-left" colspan="3">
                                                                                <strong>I.G.V.:</strong>
                                                                            </td>
                                                                            <td><strong class="iva_total">{{Totales.igv
                                                                                    | currency: 'S/': 'symbol': '':
                                                                                    'en-PE'}}</strong>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text-left" valign="middle"
                                                                                colspan="3"> <strong>TOTAL:</strong>
                                                                            </td>
                                                                            <td><strong
                                                                                    class="total_detalle">{{Totales.total
                                                                                    | currency: 'S/': 'symbol': '':
                                                                                    'en-PE'}}</strong>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div
                                                                    class="col-md-12  d-flex content-buttons-actions justify-content-end">
                                                                    <button (click)="LimpiarInformacion()"
                                                                        class="btn btn-danger mr-2">Limpiar</button>
                                                                    <button (click)="EnviarPagoVenta()" type="button"
                                                                        class="btn btn-secondary ">Pagar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [class.d-none]="borrador_nota_venta==true" class="col-md-4  p-0 col-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card m-0 p-1" style="padding: 20px; background-color: #f8f9fa;">
                                        <div class="nota-venta">
                                            <div class="row mb-1 mx-0">
                                                <div class="col-12 d-flex justify-content-between p-0">
                                                    <h6 class="m-0"> <i class="fa fa-product-hunt" aria-hidden="true"></i>Buscar Productos</h6>
                                                </div>
                                                <form [formGroup]="ProductoBuscar" autocomplete="nope">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder=""
                                                            aria-label="" aria-describedby="basic-addon1"
                                                            (input)="EscribirProducto($event)" #search_input_producto
                                                            formControlName="glosa_producto">
                                                        <button (click)="BuscarProductos()"
                                                            class="btn btn-light-info text-info font-weight-medium"
                                                            type="button">Buscar <i class="fa fa-search" aria-hidden="true"></i> 
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="row mx-0">
                                                <div class="col-12 p-0 content-tabla" style="overflow-y: auto; overflow-x: hidden;">
                                                    <table id="tabla_borrador_ventas"
                                                        class="table table-borderless table-hover mb-0 tabla_producto_agregado"
                                                        width="100%" datatable [dtOptions]="dtOptions[0]"
                                                        [dtTrigger]="reload_producto">
                                                        <thead>
                                                            <tr>
                                                                <th>Productos</th>
                                                                <th>Acciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <ng-container *ngFor="let e of listarProducto;">
                                                                <tr style="vertical-align: middle;text-align: center;">
                                                                    <td>
                                                                        <div class="text-left"
                                                                            (click)="EnviarProducto(e)"
                                                                            style="cursor: pointer;">
                                                                            {{e.glosa_producto}}</div>
                                                                        <div class="text-left"
                                                                            (click)="EnviarProducto(e)"
                                                                            style="cursor: pointer;">
                                                                            <small><b>Codigo:</b>{{e.codigo_producto}}</small>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="button-group">
                                                                            <button type="button"
                                                                                (click)="EnviarProducto(e)"
                                                                                style="width: 20px;height: 20px;"
                                                                                class="btn btn-sm btn-success btn-circle"
                                                                                tooltip="Asignar Producto"
                                                                                placement="top" [showDelay]="50"
                                                                                [hideDelay]="50"><i
                                                                                    class="fa fa-check"></i> </button>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </ng-container>
                                                        </tbody>
                                                        <tbody *ngIf="listarProducto.length == 0">
                                                            <tr>
                                                                <td colspan="3" class="no-data-available">No data!</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- METODOS DE PAGO -->
                        <div [class.d-none]="metodos_pago_nota_venta==true" class="col-md-4 col-12"
                            style="overflow-y: auto;overflow-x: hidden;height: calc(100vh - 125px);background-color: white;">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <div class="row align-items-center">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="medio_pago" class="col-sm-12 control-label">Medio de
                                                        Pago</label>
                                                    <div class="col-sm-12">
                                                        <select [(ngModel)]="id_medio_pago" class="form-control"
                                                            (change)="MedioPagoSeleccionado()" name="medio_pago"
                                                            id="medio_pago">
                                                            <ng-container *ngFor="let item of MedioPago;let i=index">
                                                                <ng-container *ngIf="i==0; else elseTemplate">
                                                                    <option selected value="{{item.id_medio_pago}}">
                                                                        {{item.glosa_medio_pago}}</option>
                                                                </ng-container>
                                                                <ng-template #elseTemplate>
                                                                    <option value="{{item.id_medio_pago}}">
                                                                        {{item.glosa_medio_pago}}</option>
                                                                </ng-template>
                                                            </ng-container>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 d-flex justify-content-end">
                                                <h5> Saldo por pagar: <strong class="saldo_a_pagar ml-1">{{Totales.total
                                                        | currency: 'S/': 'symbol': '': 'en-PE'}}</strong></h5>
                                            </div>
                                        </div>
                                        <div class="row justify-content-between monto_pagar">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="monto_medio_pago"
                                                        class="col-sm-12 control-label">Monto:</label>
                                                    <div class="col-sm-12">
                                                        <div class="input-group">
                                                            <input type="number" class="form-control"
                                                                (keypress)="EscribirPago($event,false)"
                                                                #search_input_pago [(ngModel)]="MontoPagarCliente">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 d-flex align-self-center">
                                                    <button type="button" (click)="AgregarMetodosPago()"
                                                        class="btn btn-primary mb-1">AGREGAR</button>
                                            </div>
                                            <input type="text" hidden id="vuelto_pago" value="0">
                                        </div>
                                        <div>
                                            <form id="pagoForm">
                                                <div id="div_nota_credito" class="div_pago_cliente d-none">
                                                    <h5 class="m-0 p-1">Nota de Crédito</h5>
                                                    <hr>
                                                    <div class="datos_pago_cliente p-1">
                                                        <div>Datos Cliente:</div>
                                                        <div class="datos_cliente"></div>
                                                        <div>Nota de crédito con saldo:</div>
                                                        <div class="credito_saldo"></div>
                                                        <div>N° Nota Crédito:</div>
                                                        <div class="d-flex">
                                                            <input id="numero_nota_credito" name="numero_nota_credito"
                                                                type="text" class="form-control input-div">
                                                            <button class="btn btn-success btn-nota-credito-abono"
                                                                type="button">Buscar</button>
                                                        </div>
                                                        <div>Total Nota Crédito:</div>
                                                        <div class="total_abono"></div>


                                                    </div>
                                                </div>
                                                <div id="div_abono_cliente" class="div_pago_cliente d-none">
                                                    <div class="p-1">
                                                        <h5 class="m-0">Abono Cliente</h5>
                                                    </div>
                                                    <hr>
                                                    <div class="datos_pago_cliente p-1">
                                                        <div>Rut Cliente: </div>
                                                        <div class="rut_cliente"></div>
                                                        <div>Nombre Cliente:</div>
                                                        <div class="nombre_cliente"></div>
                                                        <div>Total Saldo Abonos:</div>
                                                        <div class="total_abono"></div>
                                                    </div>
                                                </div>

                                                <div id="div_credito_cliente" class="div_pago_cliente d-none">
                                                    <div class="p-1">
                                                        <h5 class="m-0">Credito Cliente</h5>
                                                    </div>
                                                    <hr>
                                                    <div class="datos_pago_cliente p-1">
                                                        <div>Rut Cliente:</div>
                                                        <div class="rut_cliente"></div>
                                                        <div>Nombre Cliente:</div>
                                                        <div class="nombre_cliente"></div>
                                                        <div>Total Saldo Abonos:</div>
                                                        <div class="total_abono"></div>
                                                    </div>
                                                </div>
                                                <div id="div_credito_debito" class="div_pago_cliente d-none">
                                                    <div class="datos_pago_cliente p-1">
                                                        <div>Numero de comprobante:</div>
                                                        <div>
                                                            <input id="numero_comprobante" name="numero_comprobante"
                                                                type="text" class="form-control input-div">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="div_transferencia" class="div_pago_cliente d-none">
                                                    <div class="datos_pago_cliente p-1">
                                                        <div>RUT:</div>
                                                        <div>
                                                            <input id="rut_transferencia" name="rut_transferencia"
                                                                type="text" class="form-control input-div">
                                                        </div>
                                                        <div>Fecha de transferencia:</div>
                                                        <div>
                                                            <input id="fecha_trasferencia" name="fecha_trasferencia"
                                                                value="" type="date" class="form-control input-div">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="form-group row d-none">
                                            <label for="comentario_pago"
                                                class="col-sm-12 control-label">Comentario</label>
                                            <div class="col-sm-12">
                                                <textarea name="comentario_pago" class="form-control"
                                                    id="comentario_pago" cols="10" rows="2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="max-height: 305px;overflow-x: auto;">
                                        <div class="table-responsive mb-1">
                                            <table class="table table-sm center-text-table table-striped color-table info-table"
                                                style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Método de pago</th>
                                                        <th>Monto</th>
                                                        <th>Accion</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of ListaMetodosPago,let i=index">
                                                        <td>{{item.glosa_medio_pago}}</td>
                                                        <td>{{item.monto | currency: 'S/': 'symbol': '': 'en-PE'}}</td>
                                                        <td>
                                                            <a (click)="eliminarFilaPago(i)" tooltip="Eliminar Producto"
                                                                placement="top" [showDelay]="50" [hideDelay]="50"
                                                                class="cursor-pointer"
                                                                style="background-color: red;padding:0.4rem;border-radius: 2rem;cursor: pointer;color: white;">
                                                                <i style="font-size: 20px;" class="fa fa-times"
                                                                    aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="totales_pagos">
                                            <div> <b> Total a pagar:</b></div>
                                            <div><span>{{Totales_pagados.total_pagar | currency: 'S/':'symbol': '':
                                                    'en-PE'}}</span></div>
                                            <div> <b>Total Pagado:</b></div>
                                            <div><span>{{Totales_pagados.total_pagado | currency: 'S/':'symbol': '':
                                                    'en-PE'}}</span></div>
                                            <div> <b>Vuelto:</b></div>
                                            <div><span>{{Totales_pagados.vuelto | currency: 'S/':'symbol': '':
                                                    'en-PE'}}</span></div>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button type="button" class="btn btn-success" (click)="VolverPagina()"
                                                value="create-product" style="padding-right: 15px;"> VOLVER
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1"
                                                (click)="ConfirmarPagoNotaVenta()" value="create-product"
                                                style="padding-right: 15px;"> CONFIRMAR PAGO <i
                                                    class='bx bx-right-arrow-alt'></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="ajax-cliente-modal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form [formGroup]="informacionFormCliente" autocomplete="nope" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title" id="perfilCrudModal">Nuevo Cliente</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="row col-sm-12">
                            <div style="text-align: end; margin-left:30px">
                                <div class="form-check">
                                    <input (click)="CambioInput($event)" class="form-check-input " type="radio"
                                        formControlName="tipoDocumento" id="inputCLienteRut" value="RUC">
                                    <label class="form-check-label" for="inputCLienteRut">
                                        RUC
                                    </label>
                                </div>
                            </div>
                            <div class="ml-2">
                                <div class="form-check">
                                    <input (click)="CambioInput($event)" class="form-check-input " type="radio"
                                        formControlName="tipoDocumento" id="inputClienteDni" value="DNI/PASAPORTE">
                                    <label class="form-check-label" for="inputClienteDni">
                                        DNI/PASAPORTE
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-12 control-label text-crear">Documento<strong
                                                class="text-danger"> (*)</strong></label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" [class.d-none]="ruc_cliente"
                                                [class.is-invalid]="informacionFormCliente.controls['nombre_razon_social']|isInvalid"
                                                (keyup)="EncontrarDatos($event,'RUC')" formControlName="ruc_cliente"
                                                placeholder="Ingrese RUC" maxlength="11" #ruc_cliente_formulario>
                                            <input type="text" class="form-control " [class.d-none]="dni_cliente"
                                                [class.is-invalid]="informacionFormCliente.controls['nombre_razon_social']|isInvalid"
                                                (keyup)="EncontrarDatos($event,'DNI')" formControlName="dni_cliente"
                                                placeholder="Ingrese el Dni/Pasaporte" maxlength="8">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="margin-top: 2.5rem;">
                                    <button class="btn btn-sm btn-success" (click)="BuscarDocumento()">
                                        <ng-container *ngIf="!BuscarDocumentoLoading; else elseTemplate">
                                            Buscar
                                        </ng-container>
                                        <ng-template #elseTemplate>
                                            <div id="spinner-container">
                                                <div id="loading-spinner"></div>
                                            </div>
                                        </ng-template>
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-md-12 control-label">Nombre o Razón Social <strong
                                        class="text-danger">(*)</strong></label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control " formControlName="nombre_razon_social"
                                        placeholder="Ingrese el nombre" value=""
                                        [class.is-invalid]="informacionFormCliente.controls['nombre_razon_social']|isInvalid">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-12 control-label">Apellido Paterno </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control " formControlName="apellido_paterno"
                                        placeholder="Ingrese el apellido paterno" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-12 control-label">Apellido Materno</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" formControlName="apellido_materno"
                                        placeholder="Ingrese el apellido materno" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-12 control-label">Celular</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control " formControlName="celular_cliente"
                                        placeholder="Ingrese el teléfono" value="">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-12 control-label">e-Mail</label>
                                <div class="col-sm-12">
                                    <input (keydown)="VerificarEmail($event)" type="email" class="form-control "
                                        formControlName="e_mail_cliente" placeholder="Ingrese el e-Mail">
                                </div>
                                <div style="display:none;" id="error_email_valid" class="invalid-feedback">
                                    <i class="bx bx-radio-circle"></i>
                                    <span id="span-user-valid">Email Registrado</span>
                                </div>
                                <div style="display:none;" id="error_email_invalido" class="invalid-feedback">
                                    <i class="bx bx-radio-circle"></i>
                                    <span id="span-user-valid">Email Invalido</span>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-12 control-label">Dirección</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control " formControlName="direccion_cliente"
                                        placeholder="Ingrese la dirección">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-12 control-label">Departamento</label>
                                <div class="col-sm-12">
                                    <ng-select (change)="SeleccionarDepartamento()" id="departamento"
                                        formControlName="departamento" [clearable]="false">
                                        <ng-option value=''>Seleccione el Departamento</ng-option>
                                        <ng-option value="{{item.idDepartamento }}"
                                            *ngFor="let item of departamentos">{{item.departamento}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-12 control-label">Provincia </label>
                                <div class="col-sm-12">
                                    <ng-select (change)="SeleccionarProvincia()" id="provincia"
                                        formControlName="provincia" [clearable]="false">
                                        <ng-option value="">Seleccione el Provincia</ng-option>
                                        <ng-option value="{{item.idProvincia }}"
                                            *ngFor="let item of provincias">{{item.provincia}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-12 control-label">Distrito</label>
                                <div class="col-sm-12">
                                    <ng-select name="distrito" formControlName="distrito" [clearable]="false">
                                        <ng-option value="">Seleccione el Distrito</ng-option>
                                        <ng-option value="{{item.idDistrito }}"
                                            *ngFor="let item of distritos">{{item.distrito}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Volver</button>
                    <button type="button" (click)="GuardarCliente()"
                        class="btn btn-danger waves-effect waves-light">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" style="display: none;" id="ajax-mostrar-pdf" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header pb-0">
                <h1 class="text-bold-600" style="text-align:left;">COMPROBANTE</h1>
            </div>
            <div class="modal-body pt-2 pb-0">
                <ul class="nav nav-tabs customtab2" role="tablist">
                    <li class="nav-item"> <a class="nav-link imprimirBoletaAfecta" data-toggle="tab" href="#cuenta"
                            role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span
                                class="hidden-xs-down">A4</span></a> </li>
                    <li class="nav-item"> <a class="nav-link imprimirTicket active" data-toggle="tab" href="#ticket"
                            role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span
                                class="hidden-xs-down">TICKET</span></a> </li>
                </ul>
                <div class="tab-content p-3">
                    <div class="tab-pane imprimirBoletaAfectaContent" id="cuenta" aria-labelledby="cuenta-tab"
                        role="tabpanel">
                        <div class="container px-0" id="viewjs_negocio">

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <strong>Enviar Correo Electrónico</strong>
                                    <div class="input-group">
                                        <input type="email" [(ngModel)]="Correo_pdf" class="form-control"
                                            id="exampleInputEmail2" placeholder="Enter email">
                                        <div class="input-group-addon btn btn-inverse" (click)="EnviarDocumento('PDF')"
                                            tooltip="Enviar" placement="top" [showDelay]="50" [hideDelay]="50"><i
                                                class="ti-email"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane imprimirTicketcontent" id="ticket" aria-labelledby="ticket-tab"
                        role="tabpanel">
                        <div class="container px-0" id="viewjs2_negocio">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <strong>Enviar Correo Electrónico</strong>
                                    <div class="input-group">
                                        <input type="email" [(ngModel)]="Correo_ticket" class="form-control"
                                            id="exampleInputEmail2" placeholder="Enter email">
                                        <div class="input-group-addon btn btn-inverse"
                                            (click)="EnviarDocumento('TICKET')" tooltip="Enviar" placement="top"
                                            [showDelay]="50" [hideDelay]="50"><i class="ti-email"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="LimpiarModalNegocio()"
                    class="btn btn-danger waves-effect text-left">Salir</button>
            </div>
        </div>
    </div>
</div>